:root {
    --background-all: #1a1a1a;
    --background-section: #545353;
    --main-color: #FA4B2A;
    --secondary-color: #5200FF;
    --optional-secondary-color: #3CFFD0;
    --tertiary-color: #d7f31f;
    --font-color: #FFFFFF;
    --background-card: #292929;
    --alert-color: #D7263D; 
    --success-color: #4CAF50;
    --warning-color: #E6B800;
    --information-color: #1E90FF;
}

.navbar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3.5rem;
    padding-right: 2rem;
    padding-left: 1rem;
    box-sizing: border-box;
    background-color: var(--background-section);
    color: var(--font-color);
}

.navbar-brand {
    padding-top: 0.3125rem; /* Adds some space above */
    padding-bottom: 0.3125rem; /* Adds some space below */
    margin-right: 1rem; /* Creates space between brand and other elements */
    font-size: 1.25rem; /* Larger text for branding */
    text-decoration: none; /* Removes underline from links */
    white-space: nowrap; /* Prevents wrapping */
    color: var(--bs-navbar-brand-color); /* Uses theme color */
    font-weight: 400;
}

.navbar-brand a{
    color:#FFFFFF
}

.navbar-brand a:hover{
    color:var(--tertiary-color)
}
  
.navbar-collapse{
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    align-items: center;
}

.navbar-nav{
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    list-style: none;
}

.nav-link{
    display: block;
    text-decoration: none;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-weight: 400;
    color:#FFFFFF;
}

.nav-link:hover{
    color:var(--tertiary-color)
}

.ms-auto{
    margin-left: auto !important;
}